.sct-calendar-wrapper {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	clear: both;
	overflow: hidden;
	margin:0px;
}
.sct-calendar-wrapper *, .sct-calendar-wrapper *:hover {
	font-family: Arial, Helvetica, sans-serif !important;
}
.sct-calendar-wrapper, .sct-calendar-wrapper * {
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;
}

.sct-calendar-wrapper .sct-status-free {
	background-color: #dfc;
}

.sct-calendar-wrapper .sct-status-booked {
	background-color: #ffc0bd;
}

.sct-calendar-wrapper .sct-status-changeover {
	background-color: #fee2a0;
}

.sct-calendar-wrapper table.sct-calendar {
	border: 0;
	border-collapse: separate;
	border-spacing: 2px;
	table-layout: fixed;
	margin: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0;
	width: 100% !important;
}
.sct-calendar-wrapper table tr, .sct-calendar-wrapper table th {
	background: none !important;
}

.sct-calendar-wrapper table tr td {
	border: 0;
	padding: 0;
	line-height: 12px;
	vertical-align: middle;
	height: 33px;
}
.sct-calendar-wrapper table caption {
	font-size: 22px;
	text-align: center;
	margin: 0px;
	border-bottom: solid 1px #cfcfcf;
	position:relative;
}
.sct-calendar {
	float: left;
	margin: 0 5px 30px 0;
}

.sct-calendar-month {
	float: left;
	padding: 10px;
	width: 172px;
	border: 1px solid #ccc;
	background-color: #fff;
	margin-right: 10px;
}

.sct-calendar .sct-navigation {
	padding-bottom: 10px;
	line-height: 21px;
}

.sct-calendar .sct-navigation select {
	margin: 0; padding: 0 !important; width: auto; height: auto;
}

.sct-calendar form {margin: 0 !important;}

.sct-calendar .sct-loader {
	background-color: #ffc0bd;
	font-weight: bold;
	margin: 4px 0;
	padding: 1px 0;
	text-align: center;
	visibility: hidden;
}

.sct-calendar .sct-loader-visible {
	visibility: visible;
}

.sct-calendar table {
	border-top: 1px solid #000;
}

.sct-calendar table thead th,.sct-calendar tr td {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	padding: 8px 0 4px;
	width: 22px;
	height: 22px;
	border:none;
}

.sct-calendar table tfoot td {
	padding-top: 5px;
	text-align: left;
}

.sct-calendar tr td {
	border: 1px solid #fff;
	padding: 2px 0;
}

.sct-calendar tr td.pad {
	width: auto;
}

.sct-calendar td.sct-status-free {
	border-color: #dfc;
}

.sct-calendar td.sct-status-booked {
	border-color: #ffc0bd;
}

.sct-calendar td.sct-status-changeover {
	border-color: #fee2a0;
}

.sct-calendar td.sct-today {
	border-color: #FF4700;
}

.sct-calendar .sct-navigation select {
	border: 1px solid #CFCFCF;
	border-radius: 6px 6px 6px 6px;
	margin: 0;
	padding: 6px;
	width:38%;
}

.sct-calendar .sct-navigation select option {
	padding: 2px 6px;
	font-size:13px;
}

#calendar-sidebar h2 {
	background-image: none;
	margin-bottom: 5px;
	margin-left: 16px;
	padding-bottom: 0;
	width: 236px;
	border-bottom: 1px solid #CECFCF;
	box-shadow:none;

}

/* calendar popin */
#set_dates_container {
	font-size: 15px;
	position: fixed;
	background-color: rgb(255, 255, 255);
	top: 40%;
	left: 50%;
	height: 230px;
	width: 300px;
	margin-left: -150px;
	margin-top: -100px;
	border: 1px solid rgb(15, 15, 15);
	box-shadow: rgb(0, 0, 0) 2px 3px 7px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	z-index: 10000;
	padding: 16px 20px 10px;
	display: none;
}
#set_dates_container h2 {
	margin: 0 0 18px 0 !important;
	font-size: 19px !important;
	line-height: 10px;
}
#set_dates_container label {
	float: right;
	margin-right: 25px;
	font-size: 12px !important;
}
#set_dates_container input {
	margin-bottom: 7px;
	font-size: 16px;
	width: 143px;
	text-align: center;
}
.sct-calendar-wrapper {
	margin: -20px -10px -45px;
	padding:0px;
}

.sct-calendar table {
	border-top: 1px solid #CECFCF;
}

.sct-calendar-wrapper table {
	width: 263px;
}
.box div.sct-calendar-month {
	width: 263px !important;
	border: 0px solid #CCCCCC;
	padding-top:0px !important;
}


/* statuses */
.sct-calendar td {
	border-radius: 3px;
	border:solid 1px #cfcfcf;
	overflow:hidden;
	height: 34px;
}

.sct-calendar td.sct-status-free {
	border-radius: 3px;
	border:solid 1px #cfcfcf;
	background-color:#efefef;
	hover:help !important;
	height: 34px;
}
.sct-calendar td.sct-today,.sct-calendar td.sct-day-tracking,  .sct-calendar td.sct-status-free:hover {
	font-weight:bold;
	border:dotted 1px #0f0f0f;
	height: 34px;
	overflow:hidden;
	background-color:#fff000;
}
.sct-calendar td.sct-today {
	border:solid 1px #0f0f0f;
}
.sct-calendar td..sct-today {
	font-size:13px;

}
.sct-calendar td.sct-status-level2,.sct-calendar td.sct-status-level4,.sct-calendar td.sct-status-level6,.sct-calendar td.sct-status-level8  {
	cursor:help;
}
.sct-calendar td.sct-day-tracking, .sct-calendar td.sct-status-free {
	border-radius: 3px;
	border:dotted 1px #000;
	cursor:copy;
}
.sct-calendar td.sct-day-future, .sct-calendar td.sct-day-past {
	border-radius: 3px;
	border:solid 1px #cfcfcf;
	background-color:#BFBFBF;
	cursor:not-allowed;
}

.sct-calendar-wrapper td.sct-tracked:hover {
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight:bold !important;
	cursor:help;
}

#calendar-sidebar h2 {
	margin-top:0px !important;

}
ul#progress-legend{
	list-style:none !important;
	margin-left:0px;
}
ul#progress-legend{ margin-left: 0px; padding:10px; list-style: none;margin-top:0px;padding-top:0px;}
ul#progress-legend li{
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-bottom: 4px;
	text-align:left;
	margin-bottom:2px;
	margin-left:0px;
	height: 32px;
	border-radius: 3px;
	padding:6px;
	font-size:13px;
	line-height:14px;
	list-style:none !important;
}

ul#progress-legend li .block {
	width: 11px;
	height: 11px;
	border-radius: 3px;
	display: inline;
	padding: 8px 8px;
	margin: 10px;
	float: left;
	clear: left;
}
ul#progress-legend li.legend-green .block, .sct-calendar td.sct-status-free.sct-bggreen, .sct-bggreen, .sct-bggreen:hover {
	background-color:#37B645 !important;
}
ul#progress-legend li.legend-orange .block, .sct-calendar td.sct-status-free.sct-bgorange, .sct-bgorange, .sct-bgorange:hover {
	background-color:#ffa530 !important;
}
ul#progress-legend li.legend-red .block, .sct-calendar td.sct-status-free.sct-bgred, .sct-bgred, .sct-bgred:hover {
	background-color:#770000 !important;
	color:#fff !important;
}
ul#progress-legend li.legend-gray .block, .sct-calendar td.sct-status-free.sct-bggray, .sct-bggray, .sct-bggray:hover {
	background-color:#5e5e5e !important;
	color:#fff !important;
}
ul#progress-legend li.legend-litegray .block, .sct-calendar td.sct-status-free.sct-litegray, .sct-litegray, .sct-litegray:hover {
	background-color:#efefef;
	border:solid 1px #CFCFCF;
}

a.week_view {
	background-image: url('../images/help-icon.png');
	background-repeat: no-repeat;
	background-position:0px 0px;
	color: transparent;
	height: 30px;
	margin-bottom: 0;
	margin-top: 3px;
	margin-left: 2px;
	overflow: visible;
	padding: 0px 15px;
	width: 30px !important;
	border:none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	display:block;
	cursor:pointer;
}
a.week_view:active, a.week_view:hover, .currentrow a.week_view { background: url('../images/help-icon-hover.png') no-repeat; }


h2.progress-calendarh2{
	background: #fff;
	border-bottom: 1px solid #cecfcf;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position:relative;
}

.sct-calendar-wrapper table {
	width: 286px !important;
	margin-left:-7px;
}
.sct-calendar-wrapper table tr td .fd {
	width:30px;
	padding: 1px 30px 0 1px !important;
}
.sct-calendar tr td.week_view_column {
	overflow: visible;
	padding: 1px 30px 0 1px;
}
.sct-calendar tr.currentrow {

}
.sct-calendar tr.currentrow td{
	border:solid 1px orange !important;
}
.sct-calendar tr td.sct-current{
	border:solid 1px orange !important;
}
.sct-calendar tr td.week_view_column {
	border:none !important;
}

.calendar_button {
	position:absolute;
	top:0px;
	right:0px;
	display:block;
	width:40px;
	height:40px;
}

ul#progress-legend li.legend-slash{
	background-position: 2px -78px;
}

/*setup*/
#main-tracker-info h2 a {
	font-size:18px !important;
}

/* spinner */

#sct-cal-ajax-spinner{
	position: absolute;
	top: 55px;
	right: 86px;
	background: url('../images/ajax-loader.gif') 0 0 no-repeat;
	height: 30px;
	width: 30px;
	display:none;
}

td.ui-state-disabled {
	background-color:#fff !important;
}
.ui-datepicker-calendar .ui-state-hover {
	background-color:#fff000 !important;
}
.ui-datepicker-div {
	background-color:#fff !important;
}
.ui-datepicker {
	height: 213px !important;
}

